### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

### Python ###
__pycache__/
*.pyc

### MacOS ###
*.DS_Store

### Output files ###
*.pdf
*.tex